<div class="item w2 lockAspect" id="item_{{ imageName }}" data-isStamped="false">  
	<div id="image_view">
		<i class="icon-cancel-circled"></i>
		<i class="icon-key"></i>
		
		<button class="small info btn prev-button"><i class="icon-left-dir"></i></button>
		<div class="image-name" ><strong> {{ imageName }} </strong></div>
		<button class="small info btn next-button"><i class="icon-right-dir"></i></button>
		<br>
		<div class="image-wrapper"> 
			<img src="{{ imagePath }}"></img>
		</div>
		
		<ul>
			<li>
				<label>Camera</label>
				{{ camera_name }}
			</li>
			<li>
				<label>Author</label>
				{{ author_name }}
			</li>
		</ul>
		<button id="more_info_button"> More info </button>
	</div> 
	
	<div id="more_info_view">
		<form action="/xgds_image/updateImageInfo/" id="more_info_form" method="post">
			<fieldset>
				<ul>
					<input name="id" value="{{id}}" hidden id="id_id"></input>
					<li>
						<label>Camera</label>
						<select name="camera" id="camera">
						{{#each allCameras}}
	 						<option value={{camera_name_index.[1]}}>{{camera_name_index.[0]}}</option>
						{{/each}}
						</select>
					</li>
					<li>
						<label>Latitude</label>
						<input name="latitude" id="id_latitude" value="{{latitude}}"></input>
					</li>
					<li>
						<label>Longitude</label>
						<input name="longitude" id="id_longitude" value="{{longitude}}"></input>
					</li>
					<li>
						<label>Altitude</label>
						<input name="altitude" id="id_altitude" value="{{altitude}}"></input>
					</li>
					<li>
						<label>Author</label>
						<select name="author", id="id_author">
						{{#each allAuthors}}
	 						<option value={{author_name_index.[1]}}>{{author_name_index.[0]}}</option>
						{{/each}}
						</select>
					</li>
					<li>
						<label>Description</label>
						<textarea name="description" id="id_description">{{description}}</textarea>
					</li>
					<input type="submit" value="Save" />
					<li>
						<div id="message"/>
					</li>
				</ul>
			</fieldset>
		</form>
	</div>
</div>