<div> 
	<div class="image-name" ><strong> {{ name }} </strong></div>

		<div id="image_overview">
			<button id="edit_info_button" class="btn btn-primary" onClick="window.open('/xgds_image/edit/{{pk}}', '_blank');">Edit</button>
			<a href="{{raw_image_url}}" class="btn btn-primary" download>Download</a>
			<table>
				<tr>
					<td >{{ author_name }}</td>
					<td colspan=3 >{{prettyTime acquisition_time acquisition_timezone}}</td>
				</tr>
				<tr>
					<td >Heading:</td>
				{{#if head}}
					<td >{{ head }}&deg;</td>
				{{else}}
					<td >n/a</td>
				{{/if}}
					<td >Resolutions:</td>
					<td >{{originalImageResolutionString}} | {{originalImageFileSizeMB}}</td>
				</tr>
				<tr>
					<td colspan=4 id="overview_description">{{ description }}</td>
				</tr>
			</table>
		</div>
        <!-- place to add color palette options -->
		<div class="image-wrapper"> 
			<img class="loading-image"></img>
			<div id="display-image" style="width: 600px; height: 400px;"></div>
		</div>
</div>