<div> 
	<div class="image-name" ><strong> {{ name }} </strong></div>

		<div id="image_overview">
			<button id="edit_info_button" class="small float_button" onClick="window.open('/xgds_image/edit/{{pk}}', '_blank');">Edit</button>
			<table>
				<tr>
					<td class="small">{{ author_name }}</td>
					<td class="small">{{prettyTime acquisition_time acquisition_timezone}}</td>
				</tr>
				{{#if head}}
				<tr>
					<td class="small">Heading:</td>
					<td class="small">{{ head }}&deg;</td>
				</tr>
				{{/if}}
				<tr>
					<td colspan=2 id="overview_description">{{ description }}</td>
				</tr>
			</table>
		</div>
		<div class="image-wrapper"> 
			<img class="loading-image"></img>
			<div id="display-image" style="width: 600px; height: 400px;"></div>
		</div>
</div>