<div class="item w2 lockAspect" id="item_{{ imageName }}" data-isStamped="false">  
	<div id="image_view">
		<i class="icon-cancel-circled"></i>
		<i class="icon-lock-open pinDiv"></i>
		<button class="small info btn prev-button"><i class="icon-left-dir"></i></button>
		<div class="image-name" ><strong> {{ imageName }} </strong></div>
		<div class ="loading-msg" id="loading-image-msg"> Loading image... </div>
		<button class="small info btn next-button"><i class="icon-right-dir"></i></button>
		<br>
		<div class="image-wrapper"> 
			<img class="loading-image" src="{{ STATIC_URL }}xgds_video/images/ipx.gif"></img>
			<img class="display-image" src="{{ imagePath }}"></img>
		</div>
		<div id="image_overview">
		<table>
			<tr>
				<td class="small">{{ author_name }}</td>
				<td class="small">{{ creation_time }}</td>
			</tr>
			<tr>
				<td colspan=2>{{ description }}</td>
			</tr>
		</table>
		</div>
		
	</div> i
	
	<div id="image_tabs" class="tabs border small">
	<ul class="nav nav-tabs tab-nav">
	  <li role="presentation" class="active small"><a href="#" id="notes_tab">Notes</a></li>
	  <li role="presentation" class="small"><a href="#" id="info_tab">Edit Info</a></li>
	</ul>
	</div>
	
	<div id="notes_content" class="tab-content active">
		Here is test content for notes
	</div>
	
	<div id="more_info_view">
		<form action="/xgds_image/updateImageInfo/" id="more-info-form" method="post">
			<table>
				<tr>
					<th><label for="id_description">Description:</label></th>
					<td><input id="id_description" maxlength="128" name="description" type="text" value="{{description}}"/></td>
				</tr>
				<tr>
					<th><label for="id_name">Name:</label></th>
					<td><input id="id_name" maxlength="128" name="name" type="text" value="{{name}}"/></td>
				</tr>
				<tr>
					<th><label for="id_latitude">Latitude:</label></th>
					<td><input id="id_latitude" name="latitude" step="any" type="number" value="{{lat}}"/></td>
				</tr>
				<tr>
					<th><label for="id_longitude">Longitude:</label></th>
					<td><input id="id_longitude" name="longitude" step="any" type="number" value="{{lon}}"/></td>
				</tr>
				<tr>
					<th><label for="id_altitude">Altitude:</label></th>
					<td><input id="id_altitude" name="altitude" step="any" type="number" value="{{altitude}}" />
					<input id="id_id" name="id" type="hidden" /></td>
				</tr>
			</table>
			<input class="medium info btn" type="submit" value="Save" />		
			<label class="inline" id="message"></label>
		</form>
	</div>
</div>