<div>
	<div class="image-name" ><strong> {{ name }} </strong></div>

		<div id="image_overview">
			<button id="edit_info_button" class="btn btn-primary" onClick="window.open('/xgds_image/edit/{{pk}}', '_blank');">Edit</button>
			<a href="{{raw_image_url}}" class="btn btn-primary" download>Download</a>
			<table>
				<tr>
					<td >{{ author_name }}</td>
					<td colspan=3 >{{prettyTime acquisition_time acquisition_timezone}}</td>
				</tr>
				<tr>
					<td >Heading:</td>
				{{#if head}}
					<td >{{ head }}&deg;</td>
				{{else}}
					<td >n/a</td>
				{{/if}}
					<td >Resolutions:</td>
					<td >{{originalImageResolutionString}} | {{originalImageFileSizeMB}}</td>
				</tr>
				<tr>
					<td colspan=4 id="overview_description">{{ description }}</td>
				</tr>
			</table>
		</div>


		<div class="image-wrapper">
			<img class="loading-image"></img>
			<div id="display-image" style="width: 600px; height: 400px;"></div>
		</div>

        <div id="annotationButtonWrapper">
            <button id="toggleImageAnnotationsMenu" class="btn btn-primary" onclick="xgds_image_annotation.toggleMenuBar()">Annotate Image</button>
            <p1>Annotations: </p1>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="annotationsOnOrOff" id="on" autocomplete="off" value="on" checked>On
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="annotationsOnOrOff" id="off" autocomplete="off" value="off">Off
                </label>
            </div>
            <!-- change from button to form -->

            <!--<form action="/xgds_image/merge_images/" method="post">-->

                <!--<input type="submit" value="Download" onsubmit="xgds_image_annotation." class="btn btn-primary">-->
                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="downloadScreenshot">Download Screenshot</button>
            <!--</form>-->
        </div>

        <!--</br>-->
        <div id="imageAnnotationToolbar">
            </br>
            <!--<p1> Image Annotation Toolbar </p1>-->
            <div id="imageToolbarRow1">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="cursorMode" id="navigateImage" autocomplete="off" value="OSD" checked>Navigate
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="cursorMode" id="addAnnotation" autocomplete="off" value="addAnnotation">Add Annotations
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="cursorMode" id="editAnnotation" autocomplete="off" value="editAnnotation">Edit Annotations
                    </label>
                </div>
            </div>
            <div id="imageToolbarRow2">
                <p1> Annotation Type: </p1>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="annotationType" id="arrow" autocomplete="off" value="arrow" checked>Arrow
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="annotationType" id="rectangle" autocomplete="off" value="rectangle">Rectangle
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="annotationType" id="ellipse" autocomplete="off" value="ellipse">Ellipse
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="annotationType" id="text" autocomplete="off" value="text">Text
                    </label>
                </div>
            </div>
            <div id="imageToolbarRow3">
                <p1> Annotation Size: </p1>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="annotationSize" id="small" autocomplete="off" value="small">Small
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="annotationSize" id="medium" autocomplete="off" value="medium" checked>Medium
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="annotationSize" id="large" autocomplete="off" value="large">Large
                    </label>
                </div>
                <input type='text' id="colorPicker"/>
            </div>

            <div id="imageToolbarRow4">
                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="deleteAnnotation">Delete Selected Annotation</button>
            </div>
            </br>
        </div>
</div>